body {
    margin: 0;
    padding: 0;
}

.jumbotron{
    background: radial-gradient(circle, rgb(167, 243, 248) 0%, rgba(58, 126, 165, 0.954) 100%); 
    
}

#engineer{
    background: radial-gradient(circle, rgb(161, 186, 255) 0%, rgba(58, 78, 165, 0.954) 100%); 
}

#manager {
    background: radial-gradient(circle, rgb(240, 122, 122) 0%, rgba(226, 71, 71, 0.954) 100%); 
}

#intern {
    background: radial-gradient(circle, rgb(169, 248, 167) 0%, rgba(74, 192, 74, 0.954) 100%);
}